@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
body {
    background-color: red;
    font-family: Lato, serif;
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.telefone {
    width: 400px;
    height: 700px;
    background-color: #232323;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 30px 35px -25px black;
    animation: showPad 1s ease forwards 1;
}
.telefone .teclado .contato {
    width: 60%;
    position: relative;
    margin-left: 20%;
    margin-top: 40px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.telefone .teclado .contato.showcontato {
    opacity: 1;
}
.telefone .teclado .contato .avatar {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0 15px 30px -10px black;
    position: absolute;
    left: 0px;
    top: 8px;
}
.telefone .teclado .contato .contato-info {
    border-radius: 8px;
    width: 85%;
    margin-left: 15%;
    background-color: #2d2d2d;
    height: 76px;
    overflow: hidden;
}
.telefone .teclado .contato .contato-info > div {
    width: 80%;
    margin-left: 20%;
    font-size: 12px;
    margin-top: 3px;
}
.telefone .teclado .contato .contato-info .contato-nome {
    color: #fdfdfd;
    margin-top: 12px;
}
.telefone .teclado .contato .contato-info .contato-position {
    font-style: italic;
    color: #aeaeae;
}
.telefone .teclado .contato .contato-info .contato-numero {
    color: white;
}
.telefone .teclado .contato .contato-info .contato-numero span {
    color: #3de066;
    display: inline;
}
.telefone .teclado .contato .contato-buttons {
    position: absolute;
    right: -5px;
    top: 0px;
    width: 40px;
    height: 76px;
}
.telefone .teclado .contato .contato-buttons button {
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-shadow: 0 12px 25px -5px black;
    display: block;
    position: absolute;
    right: 0px;
    background-size: 75% auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.telefone .teclado .contato .contato-buttons button:focus {
    outline: none;
}
.telefone .teclado .contato .contato-buttons button.icon-message {
    background-color: #ffc44e;
    top: 5px;
}
.telefone .teclado .contato .contato-buttons button.icon-video {
    background-color: #a529f9;
    bottom: 5px;
}
.telefone .teclado .numero {
    width: 100%;
    height: 80px;
    background-color: #2d2d2d;
    margin-top: 40px;
}
.telefone .teclado .numero input {
    background-color: transparent;
    width: 60%;
    margin-left: 20%;
    height: 80px;
    border: none;
    font-size: 30px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}
.telefone .teclado .numero input:focus {
    outline: none;
}
.telefone .teclado .digitos {
    overflow: hidden;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
}
.telefone .teclado .digitos .dig-espaco {
    width: 60px;
    margin: 10px calc(50% - 90px);
    float: left;
}
.telefone .teclado .digitos .dig {
    color: white;
    font-size: 30px;
    float: left;
    background-color: #2d2d2d;
    text-align: center;
    width: 60px;
    height: 56px;
    border-radius: 100%;
    margin: 10px 0px;
    padding-top: 4px;
    font-weight: 700;
    cursor: pointer;
}
.telefone .teclado .digitos .dig.clicked {
    animation: pulse-gray linear 0.5s 1;
}
.telefone .teclado .digitos .dig:nth-child(3n-1) {
    margin: 10px calc(50% - 90px);
}
.telefone .teclado .digitos .dig.asterisco {
    padding-top: 17px;
    height: 43px;
}
.telefone .teclado .digitos .dig.pound {
    padding-top: 10px;
    height: 50px;
}
.telefone .teclado .digitos .dig .sub-dig {
    font-size: 8px;
    font-weight: 300;
    position: relative;
    top: -2px;
}
.telefone .teclado .digitos .dig.addContato, .telefone .teclado .digitos .dig.voltar {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55% auto;
    margin-bottom: 25px;
    box-shadow: 0px 25px 30px -15px black;
}
.telefone .teclado .digitos .dig.addContato {
    background-color: #285efa;
}
.telefone .teclado .digitos .dig.addContato.clicked {
    animation: pulse-blue linear 0.5s 1;
}
.telefone .teclado .digitos .dig.voltar {
    background-color: #fa4a5d;
}
.telefone .teclado .digitos .dig.voltar.clicked {
    animation: pulse-red linear 0.5s 1;
}
.telefone .chamada {
    opacity: 0;
    height: 0px;
    pointer-events: none;
    background: #111111;
    transition: opacity 0.3s ease;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    transition: opacity 0.3s ease;
}
.telefone .chamada.in-call {
    height: 100%;
    opacity: 1;
    pointer-events: all;
}
.telefone .chamada .pulsate {
    opacity: 0;
    width: 150px;
    height: 0px;
    overflow: visible;
    position: relative;
    display: block;
    margin: 0 auto 0;
    top: 120px;
    transition: opacity 0.5s ease;
}
.telefone .chamada .pulsate.active-call {
    animation: pulsator 2s ease infinite;
    opacity: 1;
}
.telefone .chamada .pulsate div {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 100%;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.telefone .chamada .pulsate div:nth-child(1) {
    width: 110px;
    height: 110px;
}
.telefone .chamada .pulsate div:nth-child(2) {
    width: 122px;
    height: 122px;
}
.telefone .chamada .pulsate div:nth-child(3) {
    width: 134px;
    height: 134px;
}
.telefone .chamada .ca-avatar {
    width: 100px;
    height: 100px;
    margin: 70px auto;
    margin-bottom: 30px;
    display: block;
    background-color: #111;
    border-radius: 100%;
    box-shadow: 0px 20px 25px -10px rgba(0, 0, 0, 0.8);
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0.5;
    transform: scale(0.5, 0.5);
}
.telefone .chamada .ca-avatar.in-call {
    transform: scale(1, 1);
    opacity: 1;
}
.telefone .chamada .ca-name, .telefone .chamada .ca-number, .telefone .chamada .ca-status {
    width: 60%;
    margin-left: 20%;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
.telefone .chamada .ca-name {
    font-size: 18px;
}
.telefone .chamada .ca-number {
    font-size: 28px;
    letter-spacing: 2px;
}
.telefone .chamada .ca-status {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.telefone .chamada .ca-status:after {
    content: attr(data-dots);
    position: absolute;
}
.telefone .chamada .ca-buttons {
    width: 70%;
    margin-left: 15%;
}
.telefone .chamada .ca-buttons .ca-b-single {
    float: left;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    position: relative;
    margin-bottom: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 55% auto;
}
.telefone .chamada .ca-buttons .ca-b-single:nth-child(3n-1) {
    margin-left: calc(100% - 230px);
    margin-right: calc(100% - 230px);
}
.telefone .chamada .ca-buttons .ca-b-single:after {
    content: attr(data-label);
    color: white;
    position: absolute;
    text-align: center;
    font-size: 10px;
    width: 100px;
    bottom: -20px;
    left: -18px;
    letter-spacing: 2px;
}
.call {
    color: white;
    font-size: 30px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 10px 0px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    left: calc(50% - 30px);
    bottom: 25px;
    box-shadow: 0px 25px 30px -15px black;
    background-color: #3de066;
}
.call .call-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.3s ease;
}
.call .call-icon.in-call {
    -ms-transform: rotate(134deg);
    -webkit-transform: rotate(134deg);
    transform: rotate(134deg);
}
.call .call-change {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}
.call .call-change span {
    width: 70px;
    height: 67px;
    display: block;
    background-color: #fa4a5d;
    position: relative;
    top: 70px;
    left: 70px;
    border-radius: 100%;
    transition: left 0.3s ease, top 0.3s ease;
}
.call .call-change.in-call span {
    top: -5px;
    left: -5px;
}
.call.clicked {
    animation: pulse-green linear 0.5s 1 forwards;
}
@keyframes pulse-gray {
    0% {
        box-shadow: inset 0 0 0px 30px #2d2d2d, inset 0 0 0px 30px white;
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    10% {
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    30% {
        box-shadow: inset 0 0 0px 10px #2d2d2d, inset 0 0 0px 30px white;
    }
    60% {
        box-shadow: inset 0 0 0px 0px #2d2d2d, inset 0 0 0px 0px white;
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes pulse-blue {
    0% {
        box-shadow: inset 0 0 0px 30px #285efa, inset 0 0 0px 30px white;
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    10% {
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    30% {
        box-shadow: inset 0 0 0px 10px #285efa, inset 0 0 0px 30px white;
    }
    60% {
        box-shadow: inset 0 0 0px 0px #285efa, inset 0 0 0px 0px white;
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes pulse-green {
    0% {
        box-shadow: inset 0 0 0px 30px #3de066, inset 0 0 0px 30px white;
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    10% {
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    30% {
        box-shadow: inset 0 0 0px 10px #3de066, inset 0 0 0px 30px white;
    }
    60% {
        box-shadow: inset 0 0 0px 0px #3de066, inset 0 0 0px 0px white;
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes pulse-red {
    0% {
        box-shadow: inset 0 0 0px 30px #fa4a5d, inset 0 0 0px 30px white;
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    10% {
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    30% {
        box-shadow: inset 0 0 0px 10px #fa4a5d, inset 0 0 0px 30px white;
    }
    60% {
        box-shadow: inset 0 0 0px 0px #fa4a5d, inset 0 0 0px 0px white;
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes pulsator {
    0% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    40% {
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes showPad {
    0% {
        top: 50px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}
p {
    position: fixed;
    bottom: 0px;
    left: 15px;
    color: white;
    font-family: Lato, serif;
    font-weight: 300;
    overflow: hidden;
}
p a:link, p a:visited {
    color: white;
}
p a:hover {
    opacity: 0.5;
}
p img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
