<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Telefone Frances</title>
    <link href="css/stylus.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="telefone-body">
    <div class="telhado1"></div>
    <div class="telhado2"></div>
    <div class="telhado3"></div>
    <div class="luz-end"></div>
    <div class="luz"></div>
    <div class="luz-top"></div>
    <div class="porta esquerdo">
        <div class="porta-janela janela"></div>
            <div class="janela-painel"></div>
            <div class="janela-painel"></div>
            <div class="janela-painel"></div>

        <div class="janela-painel2"></div>
        <div class="janela-painel3"></div>
        <div class="janela-painel4"></div>

        <div class="porta-janela telefone">

            <div class="fechadura pequeno"></div>
        </div>
        <div class="porta-janela"></div>
        <div class="porta-janela"></div>
    </div>
    <div class="porta direito">
        <div class="porta-janela janela">

        </div>
            <div class="janela-painel"></div>
            <div class="janela-painel"></div>
            <div class="janela-painel"></div>

        <div class="janela-painel2"></div>
        <div class="janela-painel3"></div>
        <div class="janela-painel4"></div>
        <div class="porta-janela"></div>
        <div class="porta-janela"></div>
        <div class="porta-janela"></div>

        <div class="fechadura" onclick="abrirPorta()"></div>

    </div>
    <div class="lado esquerdo"></div>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
         width="809px" height="346px" viewBox="399 220 159 249">

        <g id="phone-booth-front" class="phone-booth-part">
            <path fill="#777777" d="M302.224,320.801c-1.721-12.786-8.935-12.643-10.652-12.412
        c-0.062,0.014-0.115,0.021-0.174,0.027v-4.934H269.88v13.358v29.037h21.518h0.326c-0.076,28.105,1.201,34.271,3.281,35.048
        c0.125,0.046,0.292,0.088,0.49,0.088c0.39,0,0.896-0.164,1.425-0.772c3.943-4.578,1.988-36.898,1.368-45.812
        C300.716,332.857,303.356,329.214,302.224,320.801z M291.398,315.34c0.666-0.075,1.662-0.168,2.182-0.298
        c0.615-0.154,0.137-1.343,1.187-1.484c1.05-0.142,2.226,7.948,2.226,7.948s1.004,8.112-0.045,8.254
        c-1.05,0.146-0.903-1.132-1.538-1.118c-0.482,0.017-1.33,0.153-1.977,0.262l-2.035-12.062V315.34L291.398,315.34z M297.585,354.346
        c0.46,19.146-0.995,23.771-1.904,24.826c-0.069,0.08-0.124,0.131-0.164,0.165c-0.354-0.39-1.402-2.476-1.888-13.571
        c-0.303-6.904-0.289-14.85-0.272-19.885h2.943l-1.726-10.224c0.208-0.018,0.427-0.037,0.658-0.067
        c0.329-0.044,0.85-0.146,1.466-0.369C296.95,339.02,297.398,346.566,297.585,354.346z"/>
        </g>
    </svg>

    <div class="lado direito"></div>


    <div class="nome"><span>Telefone</span></div>
    <div class="chao"></div>
</div>

<button onclick="abrirPorta()" >Abrir a porta</button>
<a href="/Telefone">ir para o telefone</a>
<script src="js/script.js"></script>
</body>
</html>